<div (click)="onBackClick()" class="back-icon">
    <app-back-icon></app-back-icon>
  </div>
  <span class="overlay"></span>
  <div class="container">
    <div class="side1">
      <h1 class="skill-header">ABOUT</h1>
      <app-dp-logo height="13rem" width="13rem" class="dp-logo"></app-dp-logo>
      <div class="text-container">
        <p>
          Actuellement élève ingénieur marocain en 3ème année, option: Système d'Information Géographique (SIG) à l'Ecole Hassania des Travaux Publics (EHTP).
          Motivé à l'idée de travailler en équipe, je saurai faire preuve de sérieux et de dynamisme pour accomplir au mieux les missions que vous voudrez bien me confier<br/>
          je suis à la recherche d'un stage PFE dans le domaine de développement informatique ou développement des systèmes d'information géographique pour une durée 4-6 mois.<br/>
          N'hésitez pas à me contacter pour échanger au sujet de potentielles propositions et nous trouverons un projet à réaliser ensemble
        </p>
        <br>
        
      </div>
    </div>
    <div class="side2">
      <div class="skill-container">
        <h1 class="skill-header">
          Skills
        </h1>
        <div *ngFor="let skill of skills">
          <h4 class="skill-type">{{skill.type}}</h4>
          <h4 class="skill-names">{{skill.names.join(', ')}}</h4>
        </div>
      </div>
    </div>
  </div>
  